<div class="container">
  <div class="panelA">
    <form [formGroup]="form" (ngSubmit)="log()">
      <h3>Registred?</h3>
      <div class="form-group">
        <input type="email" placeholder=" username" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" placeholder=" password" formControlName="password">
      </div>
      <div class="errors" *ngIf="errors">
        <span *ngIf="form.controls.email.errors?.required">enter your email</span>
        <span *ngIf="form.controls.email.errors?.pattern">email is not valid</span>
        <span *ngIf="form.controls.password.errors?.required">enter your password</span>
      </div>
      <div class="buttons">
        <a class="login" (click)="log()">Login</a>
        <a class="signup" href="/register">Sing up</a>
      </div>
    </form>
  </div>
  <div class="panelB">
    <p> The "MI" in our logo stands for “Mobile Internet”. It also has other meanings, including "Mission Impossible",
      because Xiaomi faced many challenges that
      had seemed impossible to defy in our early days.
    </p>
    <p>
      With the vision of being friends with its users and being the “coolest company” in the hearts of its users,
      Xiaomi is committed to continuous innovation, with an unwavering focus on quality and efficiency.
      The company relentlessly builds amazing products with honest prices to let everyone in the world enjoy a better
      life through innovative technology.
    </p>
    <a href="https://www.mi.com/global">Go to oficial store!</a>
  </div>
</div>